################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bioteca.DotNet/bin/Debug/net8.0
/Bioteca.DotNet/obj
/Bioteca.Prism.InteroperableResearchNode/.vs
/Bioteca.Prism.InteroperableResearchNode/bin/Debug/net8.0
/Bioteca.Prism.InteroperableResearchNode/obj
/Bioteca.Prism.Service/bin/Debug/net8.0
/Bioteca.Prism.Service/obj
*.cursorrules
/nul
/Bioteca.Prism.Domain/bin/Debug/net8.0
/Bioteca.Prism.Domain/obj
/Bioteca.Prism.InteroperableResearchNode.Test/obj
/Bioteca.Prism.InteroperableResearchNode.Test/bin
/Bioteca.Prism.Core/bin/Debug/net8.0
/Bioteca.Prism.Core/obj
/Bioteca.Prism.Data/bin/Debug/net8.0
/Bioteca.Prism.Data/obj
prompt.md
/Bioteca.Prism.CrossCutting/bin/Debug/net8.0
/Bioteca.Prism.CrossCutting/obj/Debug/net8.0
/Bioteca.Prism.CrossCutting/obj
/Bioteca.Prism.InteroperableResearchNode/Bioteca.Prism.Data/obj
/Bioteca.Prism.InteroperableResearchNode/Bioteca.Prism.Core/obj/Debug/net8.0
