################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bioteca.DotNet/bin/Debug/net8.0
/Bioteca.DotNet/Bioteca.DotNet.csproj
/Bioteca.DotNet/obj
/Bioteca.Prism.InteroperableResearchNode/.vs
/Bioteca.Prism.InteroperableResearchNode/bin/Debug/net8.0
/Bioteca.Prism.InteroperableResearchNode/obj
/Bioteca.Prism.Service/bin/Debug/net8.0
/Bioteca.Prism.Service/obj
*.cursorrules
/nul
/Bioteca.Prism.Domain/bin/Debug/net8.0
/Bioteca.Prism.Domain/obj
/Bioteca.Prism.InteroperableResearchNode.Test/obj
/Bioteca.Prism.InteroperableResearchNode.Test/bin
